	body {background-image: url("coffeebalagtas.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;}

	* {box-sizing: border-box;} /* Create three equal columns that floats next to each other */
	.column1 {
  		float: left;
	  	width: 33.33%;
  		padding: 10px;
  		height: 620px;
  		border-top: solid;
  		margin: 0;} 

  	.column2 {
  		float: left;
	  	width: 33.33%;
  		padding: 10px;
  		height: 620px;
  		border-top: solid;
  		border-right: solid;
  		border-left: solid;
  		margin: 0;} 

  	.column3 {
  		float: left;
	  	width: 33.33%;
  		padding: 10px;
  		height: 620px;
  		border-top: solid;
  		margin: 0;} 

	/* Clear floats after the columns */
	.row:after {
  		content: "";
  		display: table;
  		clear: both;}

	h1 {color: black;
		text-align: center;
		font-size: 165px;
		font-family: Times New Roman;
		margin: 0;}

	h2 {color: black;
		text-align: center;
		font-size: 45px;
		font-family: Helvetica;
		border-bottom: solid;
		margin: 0;}

	h3 {color: black;
		text-align: center;
		font-size: 25px;
		font-family: Times New Roman;
		margin: 0;}

	p {color: black;
		text-align: justify;
		font-size: 20px;
		font-family: Times New Roman;
		margin: 0;
		padding-top: 10px;}

	.img-spain {width: 150px;
		height: 100px;
		border-style: solid;
		position: relative;
		left: 230px;}

	.img-america {width: 150px;
		height: 100px;
		border-style: solid;
		position: relative;
		left: 230px;}

	.img-japan {width: 150px;
		height: 100px;
		border-style: solid;
		position: relative;
		left: 230px;}

	.button {background-color: bisque;
  		border: none;
 		color: black;
		padding: 15px 123px;
		text-align: center;
		font-family: Times New Roman
		font-size: 25px;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;