	body {background-image: url("coffeebalagtas.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;}

	.center-container {
        text-align: right;
    }
	
    /* Style for the home button */
    .home-button {
        display: inline-block;
        background-color: rgba(113, 63, 2, 0.8);
        color: white;
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        border: solid;
        cursor: pointer;
		text-decoration: none;
        transition: background-color 0.3s ease;
        border: inset rgba(255, 234, 104, 1);
    }
    
    .home-button:hover {
        background-color: rgba(255, 234, 104, 1); /* Darker shade of the primary color on hover */
		color: black;
		border: inset rgba(113, 63, 2, 1);
    }

	* {box-sizing: border-box;} /* Create three equal columns that floats next to each other */
	.column1 {
  		float: left;
	  	width: 33.33%;
  		padding: 10px;
  		height: 620px;
  		border-top: solid;
  		margin: 0;} 

  	.column2 {
  		float: left;
	  	width: 33.33%;
  		padding: 10px;
  		height: 620px;
  		border-top: solid;
  		border-right: solid;
  		border-left: solid;
  		margin: 0;} 

  	.column3 {
  		float: left;
	  	width: 33.33%;
  		padding: 10px;
  		height: 620px;
  		border-top: solid;
  		margin: 0;} 

	/* Clear floats after the columns */
	.row:after {
  		content: "";
  		display: table;
  		clear: both;}

	h1 {color: black;
		text-align: center;
		font-size: 165px;
		font-family: Times New Roman;
		margin: 0;}

	h2 {color: black;
		text-align: center;
		font-size: 45px;
		font-family: Helvetica;
		border-bottom: solid;
		margin: 0;}

	h3 {color: black;
		text-align: center;
		font-size: 25px;
		font-family: Times New Roman;
		margin: 0;}

	p {color: black;
		text-align: justify;
		font-size: 20px;
		font-family: Times New Roman;
		margin: 0;
		padding-top: 10px;}

	.img-spain {width: 150px;
		height: 100px;
		border-style: solid;
		position: absolute;
		left: 13%;
	}
		

	.img-america {width: 150px;
		height: 100px;
		border-style: solid;
		position: absolute;
		left: 46%;
	}

	.img-japan {width: 150px;
		height: 100px;
		border-style: solid;
		position: absolute;
		right: 13%;
	}

	.button {
		background-color: #c70a1e;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
		transition: transform 0.3s ease;
		font-weight: bold;
		text-decoration: none;
	}
		
	.button-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.button:hover {
		background-color: #fec401;
		transform: scale(0.85);
		color: #c70a1e;
	}

	.button2 {
		background-color: #3c3b6e;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
		transition: transform 0.3s ease;
		font-weight: bold;
		text-decoration: none;
	}
		
	.button2-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.button2:hover {
		background-color: #b22234;
		transform: scale(0.85);
		color: white;
	}

	.button3 {
		background-color: #bc002d;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
		transition: transform 0.3s ease;
		font-weight: bold;
		text-decoration: none;
	}
		
	.button3-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.button3:hover {
		background-color: white;
		transform: scale(0.85);
		color: #bc002d;
	}
